<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercise and Quiz Platform</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


  <!-- Custom CSS for styling -->
  <style>
    body {
      padding-top: 70px;
    }

    .card {
      margin: 20px;
      flex-basis: calc(30% - 40px);
      /* Set initial width for larger screens */
    }

    .card:hover {
      background-color: #2980b9;
      transform: scale(1.1);
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (max-width: 992px) {

      .card {
        flex-basis: calc(50% - 40px);
      }
    }

    @media (max-width: 576px) {

      .card {
        flex-basis: calc(100% - 40px);
      }
    }


    h1 {
      font-size: 24px;
      margin: 10px 0;
    }

    .contact-links {
      margin-top: 20px;
    }

    .contact-links a {
      text-decoration: none;
      color: white;
      margin: 0 10px;
    }

    .h2 {
      color: #151515;
    }
  </style>
</head>

<body>




  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename='/assets/images/logo.jpg') }}" alt="Logo"
        style="width: 50px; height: 50px;">
      Wikicoding
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('practice') }}"
            style="height: 40px; background-color: #2980b9; margin: 20px;">Exercise</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('quiz') }}" class="btn btn-secondary" style="margin: 20px;">Challenging Quiz</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container">
    <div class="card" style="width: 18rem;">
      <img src="{{ url_for('static', filename='/assets/images/python.jpeg') }}" class="card-img-top" alt="Python Image">
      <div class="card-body">
        <h5 class="card-title">Python Language</h5>
        <p class="card-text">Python is a versatile and popular programming language known for its simplicity and
          readability.</p>
        <div>
          <!-- Star rating -->
          <span class="text-warning">&#9733;</span>
          <span class="text-warning">&#9733;</span>
          <span class="text-warning">&#9733;</span>
          <span class="text-warning">&#9733;</span>
          <span class="text-secondary">&#9733;</span>
        </div>
        <!-- Buttons -->
        <div class="mt-3">
          <a href="{{ url_for('static', filename='assets/roadmap/python.jpg') }}"
            class="btn btn-primary mr-2">RoadMap</a>
          <a href="{{ url_for('quizs') }}" class="btn btn-secondary">Quiz</a>

        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="{{ url_for('static', filename='assets/roadmap/dsaback.jpeg') }}" class="card-img-top"
        alt="Python Image">
      <div class="card-body">
        <h5 class="card-title">Data Structures and Algorithms</h5>
        <p class="card-text">Master the fundamentals of data structures and algorithms for efficient problem-solving.
        </p>
        <div>
          <!-- Star rating -->
          <span class="text-warning">&#9733;</span>
          <span class="text-warning">&#9733;</span>
          <span class="text-warning">&#9733;</span>
          <span class="text-warning">&#9733;</span>
          <span class="text-secondary">&#9733;</span>
        </div>
        <!-- Buttons -->
        <div class="mt-3">
          <a href="" class="btn btn-primary mr-2">RoadMap</a>
          <a href="{{ url_for('quizs') }}" class="btn btn-secondary">Quiz</a>

        </div>
      </div>
    </div>


    <div class="card" style="width: 18rem;">
      <img src="{{ url_for('static', filename='assets/roadmap/javaback.jpg') }}" class="card-img-top"
        alt="Python Image">
      <div class="card-body">
        <h5 class="card-title">Java Programming</h5>
        <p class="card-text">Learn the versatile and object-oriented Java programming language.</p>
        <div>
          <span class="text-warning">&#9733;</span>
          <span class="text-warning">&#9733;</span>
          <span class="text-warning">&#9733;</span>
          <span class="text-warning">&#9733;</span>
          <span class="text-secondary">&#9733;</span>
        </div>
        <div class="mt-3">
          <a href="{{ url_for('static', filename='assets/roadmap/java.png') }}" class="btn btn-primary mr-2">RoadMap</a>
          <a href="{{ url_for('quizs') }}" class="btn btn-secondary">Quiz</a>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card" style="width: 18rem;">
      <img src="{{ url_for('static', filename='assets/roadmap/dbmsback.jpg') }}" class="card-img-top" alt="Python Image">
      <div class="card-body">
        <h5 class="card-title">Database Management Systems (DBMS)</h5>
        <p class="card-text">Understand the principles and practices of Database Management Systems.</p>
        <div>
          <!-- Star rating -->
          <span class="text-warning">&#9733;</span>
          <span class="text-warning">&#9733;</span>
          <span class="text-warning">&#9733;</span>
          <span class="text-warning">&#9733;</span>
          <span class="text-secondary">&#9733;</span>
        </div>
        <!-- Buttons -->
        <div class="mt-3">
          <a href="" class="btn btn-primary mr-2">RoadMap</a>
          <a href="{{ url_for('quizs') }}" class="btn btn-secondary">Quiz</a>

        </div>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="{{ url_for('static', filename='assets/roadmap/cback.jpeg') }}" class="card-img-top" alt="Python Image">
      <div class="card-body">
        <h5 class="card-title">C Programming</h5>
    <p class="card-text">Learn the fundamentals of the C programming language.</p>
        <div>
          <!-- Star rating -->
          <span class="text-warning">&#9733;</span>
          <span class="text-warning">&#9733;</span>
          <span class="text-warning">&#9733;</span>
          <span class="text-warning">&#9733;</span>
          <span class="text-secondary">&#9733;</span>
        </div>
        <!-- Buttons -->
        <div class="mt-3">
          <a href="" class="btn btn-primary mr-2">RoadMap</a>
          <a href="{{ url_for('quizs') }}" class="btn btn-secondary">Quiz</a>

        </div>
      </div>
    </div>


    <div class="card" style="width: 18rem;">
      <img src="{{ url_for('static', filename='assets/roadmap/c++back.jpeg') }}" class="card-img-top" alt="Python Image">
      <div class="card-body">
        <h5 class="card-title">C++ Programming</h5>
        <p class="card-text">Explore the power and efficiency of the C++ programming language.</p>
        <div>
          <span class="text-warning">&#9733;</span>
          <span class="text-warning">&#9733;</span>
          <span class="text-warning">&#9733;</span>
          <span class="text-warning">&#9733;</span>
          <span class="text-secondary">&#9733;</span>
        </div>
        <div class="mt-3">
          <a href="" class="btn btn-primary mr-2"><img src="" alt=""> RoadMap</a>
          <a href="{{ url_for('quizs') }}" class="btn btn-secondary">Quiz</a>
        </div>
      </div>
    </div>
  </div>




  <div class="box" style="background-color: #151515;">
    <header class="main-top2 page-header page-header-orange text-white">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-8">
            <h1>Get in Touch: Connect with Us | Let's Start the Conversation</h1>
            <p>For inquiries or support, contact us anytime</p>
            <div class="contact-links">
              <a href="mailto:contact@example.com"><i class="fas fa-envelope"></i> Email</a>
              <a href="https://www.instagram.com/example"><i class="fab fa-instagram"></i> Instagram</a>
              <a href="https://www.linkedin.com/in/example"><i class="fab fa-linkedin"></i> LinkedIn</a>
              <a href="https://github.com/example"><i class="fab fa-github"></i> GitHub</a>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>





</body>

</html>